.column[aria-labelledby="ローカルタイムライン"] .status__content {
    margin-right: 40px !important;
}
.column[aria-labelledby="ローカルタイムライン"] .status button[title="ニコる"] {
    position: absolute !important;
    top: 30px !important;
    left: calc(100% - 45px) !important;
    width: 40px !important;
    height: 40px !important;
}

.column[aria-labelledby="ローカルタイムライン"] .status button[title="ニコる"] i {
    width: 30px !important;
    height: 30px !important;
}
